ul {
    list-style-type: none;
  }
 
 h1 {
    color: blue;
    font-size: 50px;
    text-align: center;
    background-color: greenyellow;
  }

  

  .pets {
    display: block;
    font-size: 30px;
    font-style: oblique;
    font-weight: 600;
    color: aqua;
	width: 150px;
	height: 600px;
 	
	margin: auto;
}

/* 
button {
    display: block;
} *//*
button:after {
    content:"\a";
    white-space: pre;
}

button:before {
    content:"";
    white-space: pre;
} 

/* .petname:after {
    content:"\a";
    white-space: pre;

} */

.petname:before {
    content:"\a";
    white-space: pre;

}
/* .petname::marker:before {
    content:"\a\a\a\a";
    white-space: pre;
} */




  body {
      background-color: rgba(0, 0, 0, 0.671);
  }

  .treats {
      text-align: center;
    display: block;
    font-size: 35px;
    font-style: oblique;
    font-weight: 600;
    color: aqua;
	
}


 .add-treat-form {
 padding-left: 800px;
}

.treat-card:before {
    content:"\a";
    white-space: pre;

}




